h1 {
  text-align: center;
}

.color {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: inline-block;
  margin: 3px;
}

#pixel-board {
  width: 210px;
  height: 210px;
  text-align: center;
  border: solid 1px black;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: inline-block;
  background-color: white;
}
