* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

header {
  position: fixed;
  top: 0;
  display: none;
}

nav {
  background-color: rgb(54, 217, 223);
  padding: 15px;
  border: 15px;
}

nav li {
  display: inline-block;
  padding-right: 20px;
  line-height: 1px;
  font-weight: 900;
}

.nav-style a {
  text-decoration: none;
  color: black;
}

.nav-style a:hover {
  color: rgb(107, 135, 255);
  text-decoration: none;
}

.main-content {
  margin: 30px 70px;
}

#licoes_aprendidas {
  margin: 30px 70px;
}

#licoes_a_aprender {
  margin: 30px 70px;
}

.lado-esquerdo {
  float: left;
  margin: 0 1.5%;
  width: 60%;
}

.lado-direito {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

table {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#rodape {
  text-align: center;
  font-size: 14px;
  clear: both;
  background-color: rgb(54, 217, 223);
  font-weight: 900;
}

#rodape a {
  text-decoration: none;
  color: rgb(255, 107, 135);
}

#rodape a:hover {
  color: rgb(107, 135, 255);
  text-decoration: none;
}
